*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hearder{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(136, 104, 0, 0.514),rgba(5,0,136,0.5) ), url('imagens/back2.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
nav:hover{
    background: #fff;
    transition: 1s;
}
 nav:hover ul li a{
     color: black;
 }

 .elements:hover{
     text-transform: uppercase;
     padding:7px;
     transition: 0.5s ease-in-out;
     font-weight: bolder;
 }
 .content{
    margin-top: 1%;
    margin-left: 9%;
    color: #fff;
 }
 .content h1{
     font-size: 120px;
     line-height: 140px;
     font-weight: 600;
 }

 .content p{
     max-width: 500px;
     line-height: 28px;
     opacity: 0;
 }
 .links{
    margin-top: 30px; 
    opacity: 0;
 }
 .links a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
 }
.btn{
    border: 2px solid #fff;
    padding: 10px 35px;
    border-radius: 30px;
 }
.slide-left{
    animation: slide 1s normal forwards;
 }

@keyframes slide{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}

p.slide-left{
    animation-delay: 1s;
}
.links.slide-left{
    animation-delay: 2s;
}
.body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    opacity: 0;
    
}

.card{
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.7);
}
.card-img{
    width: 110px;
    height: 200px;
    margin-top: 10px;
}
.card-hearder{
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-align: center;
}

.card-body{
    height: 170px;
    padding: 15px;
    text-align: center;
}
.local{
    font-size: 16px;
    margin: 10px;
}
.cidade-titulo{
    font-size: 32px;
    margin: 15px 0;
}
.card-texto{
    font-size: 12px;
    width: 250px;
    margin: 0 auto;
}
.price{
    font-size: 30px;
    font-weight: bolder;
}
.parcelas{
    font-size: 18px;
    font-weight: bolder;
}
.card-footer{
    margin-top: 15%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.685);
}
.card-footer a{
    color: white;
    display: block;
    padding: 16px;
    text-decoration: none;
    font-weight: 600;
}
.card-1 .card-footer{
    background-color: #173fd1af;
    
}
.card-2 .card-footer{
    background-color: #d12760af;
}
.card-3 .card-footer{
    background-color: #00c70393;
}

.card:hover{
    transform: scale3d(1.1, 1.1, 1);
    transition: 0.4s ease-in-out;
    background-image: linear-gradient(rgba(2, 0, 136, 0.534),rgb(4, 78, 47));
}
img:hover{
    transform: scale(1.1);
    margin-top: 20px;
    transition: 0.5s ease-in-out;
    
}
.container{
    animation: slideimage 1s normal forwards;
 }

@keyframes slideimage{
    0%{
        transform: translate(-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}